DIV.UIPanelMenuButton {
  height: 26px;
  cursor: pointer;
  padding: 5px 6px 0 6px;
  color: #333;
}

DIV.UIPanelMenuButton:hover,
DIV.UIPanelMenuButtonActive {
  padding: 5px 5px 0 5px;
  border: 1px #436585 solid;
  border-width: 0 1px 0 1px;
}

DIV.UIPanelMenuButton:hover {
  background: url(../../pics/ui/elem/panelmenu_s_bg.gif) 0 0  repeat-x;
}

DIV.UIPanelMenuButtonActive,
DIV.UIPanelMenuButtonActive:hover {
  background: url(../../pics/ui/elem/panelmenu_a_bg.gif) 0 0  repeat-x;
}

IMG.UIPanelMenuButtonImage {
  margin-right: 6px;
  vertical-align: top;
}

DIV.UIPanelMenuHolder {
  background: #ebf5ff;
  border: 1px #436585 solid;
  border-top: 0;
}

DIV.UIPanelMenu {
  margin: 4px;
}
