DIV.UIWindow {
  border: 1px #809DB9 solid;
  background-color: #fff;
  position: absolute;
  overflow: hidden;

  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

DIV.UIWindowTitle,
DIV.UIWindowTitleBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  color: #333;
  text-align: center;
  font-size: 10pt;
  cursor: pointer;
  overflow: hidden;
  padding-top: 2px;

  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
}

DIV.UIWindowTitleBg {
  background: #c7c7c7 url(../../pics/ui/elem/window-title-d.gif) 0 0 repeat-x;
  border-bottom: 1px #809DB9 solid;
}

DIV.UIWindowFocused DIV.UIWindowTitleBg {
  background: #9dc6ee url(../../pics/ui/elem/window-title.gif) 0 0 repeat-x !important;
}

DIV.UIWindowTitleBg SPAN {
  position: relative;
  color: #fff;
}

DIV.UIWindowSizer {
  position: absolute;
  background: url(../../pics/ui/sizer.gif) 0 0 no-repeat;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;

  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px;
  -webkit-border-radius: 0 0 4px 0;
  -khtml-border-radius: 0 0 4px 0;
}

DIV.UIWindowClient {
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 6px;
  top: 24px;
  overflow: hidden;
}

DIV.UIWindowTitleButtons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0 4px;
  font-size: 7px;
}

DIV.UIWindowTitleButton {
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  color: #333;

  overflow: hidden;
  height: 18px;
  min-width: 20px;
}

DIV.UIWindowFocused DIV.UIWindowTitleButton:hover {
  background: #56a0e5 url(../../pics/ui/elem/window-button_s.gif) 0 0 repeat-x;
}

DIV.UIWindowFocused DIV.UIWindowCloseButton:hover {
  background: #f14b35 url(../../pics/ui/elem/window-button-close_s.gif) 0 0 repeat-x;
}

DIV.UIWindowTitleButtonLeft {
  float: left;
}

DIV.UIWindowTitleButtonRight {
  float: right;
  margin-left: 2px;
}

DIV.UIWindowTitleButton IMG {
  vertical-align: middle;
}

DIV.UIModalWindowBackground {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
}
