DIV.UIList {
  border: 1px #666 solid;

  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;

  background: #e7e7e7;
  color: #333;
  margin: 0px;
  padding: 4px;

}

DIV.UIListFixedSize {
  position: relative;
  padding: 0px;
}

DIV.UIList:hover {
  background: #ebebeb;
}

DIV.UIListTransparent,
DIV.UIListTransparent:hover {
  background: transparent;
  padding: 0;
  border: 0;
}

DIV.UIListItemHolder {
  text-align: left;
}

DIV.UIListListItem {
  padding: 2px 4px;
  border: 1px transparent solid;
  cursor: pointer;
}

DIV.UIListListItem IMG {
  vertical-align: top;
  margin-right: 8px;
}

DIV.UIListActiveListItem,
DIV.UIListListItem:hover {
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}

DIV.UIListActiveListItem {
  background: #5680c2 url(../../pics/ui/listitem_s_bg.gif) 0 0 repeat-x !important;
  border: 1px #2d5da6 solid !important;
  color: #fff;
}

DIV.UIList DIV.UIListListItem:hover {
  background: #768eb2 url(../../pics/ui/listitem_h_bg.gif) 0 0 repeat-x;
  border: 1px #4f6c98 solid;
}

DIV.UIListFixedSize DIV.UIListScroller {
  overflow: auto;
  position: absolute;
  padding-right: 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
}
